table {
    width: 50%;
}

td {
    border: 1px solid black;
    padding: 5px;
}

td.col_type {
    text-align: right;
}

td.col_name {
    text-align: left;
}

td.col_size {
    text-align: right;
}

td.col_download {
    text-align: center;
}

th {
    border: 1px solid black;
    width: 300px;
}

th.col_type {
    width: 10px;
}

th.col_size {
    width: 100px;
}

caption {
    font-size: 18px;
}

form.download {
    display: flex;
    height: 20px;
    width: 75px;
    margin: 0 auto;
}

input#download {
    height: 20px;
}