<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">

    <display-name>FMNG</display-name>

    <servlet>
        <servlet-name>FileManager</servlet-name>
        <servlet-class>servlets.FileManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileManager</servlet-name>
        <url-pattern>/fmanager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Directory</servlet-name>
        <servlet-class>servlets.Directory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Directory</servlet-name>
        <url-pattern>/directory</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>servlets.Upload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>servlets.Download</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>servlets.Log4jInit</listener-class>
    </listener>
</web-app>
