<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>FileManagerServlet</servlet-name>
        <servlet-class>servlets.FileManagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileManagerServlet</servlet-name>
        <url-pattern>/fm</url-pattern>
    </servlet-mapping>
</web-app>
