<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">

    <display-name>FMNG</display-name>

    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

    <!--db connection info-->
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/fmdb</param-value>
    </context-param>

    <!--Servlets-->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FileManager</servlet-name>
        <servlet-class>servlets.FileManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileManager</servlet-name>
        <url-pattern>/fmanager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Directory</servlet-name>
        <servlet-class>servlets.Directory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Directory</servlet-name>
        <url-pattern>/directory</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>servlets.Upload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>servlets.Download</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FirstPageServlet</servlet-name>
        <servlet-class>servlets.FirstPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstPageServlet</servlet-name>
        <url-pattern>/first</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SecondPageServlet</servlet-name>
        <servlet-class>servlets.SecondPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SecondPageServlet</servlet-name>
        <url-pattern>/second</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <!--Filters-->
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>servlets.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/fmanager</url-pattern>
        <url-pattern>/first</url-pattern>
        <url-pattern>/second</url-pattern>
        <url-pattern>/upload</url-pattern>
        <url-pattern>/download</url-pattern>
    </filter-mapping>


    <!--Listeners-->
    <listener>
        <listener-class>servlets.Log4jInit</listener-class>
    </listener>

    <listener>
        <listener-class>servlets.AppContextListener</listener-class>
    </listener>
</web-app>